body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;
}

.gradients {
    position: absolute;
    z-index: -1;
}
/* =================================================== */
#brand-logo {
    position: absolute;
    margin-top: 30px;
    margin-left: 70px;
}
.hero-section {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hero-section-title-search {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 50px;
    margin: 0 20px;
}

.hero-section-title, .emphasis-text {
    color: #1B1C57;

    font-size: 50px;
}

.emphasis-text {
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.hero-section-title-description {
    color: #626687;
    margin: 20px 0;
}
.hero-section-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border: 2px solid black;
    border-radius: 20px;

    padding: 10px;
}

.hero-section-search input[type="text"] {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    padding: 5px;
}

.hero-section-search button {
    background-color: #10B981;
    color: white;

    padding: 20px 0;
    margin: 0 15px;

    border: none;
    border-radius: 10px;


    font-size: larger;
}


.hero-section-partnership {
    margin-top: 20px;
}
.partners {
    margin-top: 20px;
    color: #888B97;
}
.partner-logo {
    margin-right: 20px;
}

/* =================================================== */
.hero-section-navbar-and-recommended {
    background-image: url('/img/hero-section-stuff/house-1.png');
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    border-radius: 0 0 0 50px;
    height: 800px;
    width: 800px;
}

.hero-section-navbar {
    display: flex;
    align-items: center;
}

.navbar-options {
    display: flex;
}

.navbar-options-button {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: white;
    color: white;

    margin-top: 20px;
    margin-right: 40px;
    padding: 5px 10px;
    border-radius: 10px;

    font-size: larger;

    justify-content: space-between;
}

#navbar-signup-button {
    background-color: #D1FAE5;
    color: #047857;

    padding: 5px 10px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 10px;

    font-size: larger;
}

.hero-section-recommended {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /* overflow: hidden; */
}

.hero-section-recommended-frame {
    background-color: white;
    height: 104px;
    padding: 10px;

    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 15px;
}

.hero-section-recommended-element {
    display: flexbox;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    overflow-x: hidden;
}

.hero-section-promos {
    font-weight: bold;
}
/* =================================================== */
.featured-house-section {
    padding-left: 20px;
}

.featured-house-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-small {
    color: orange;
}
.title-large {
    font-size: 40px;
}